SUPABASE_URL=https://vuqwwimpmafdnqxdvdfu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1cXd3aW1wbWFmZG5xeGR2ZGZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MzA0NzQsImV4cCI6MjA5MzMwNjQ3NH0.diU65el6mGGjBM27TFmNAW2AU8u63GXg4bXDKWmdN6g
JWT_SECRET=healnet-secret-2024
